<!DOCTYPE html>
<html>
  <head>
    <title>Goalie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      Hi, <%=current_user ? current_user.username : "stranger"%>!
      <br>
      <%if logged_in?%>
      <form action="<%=session_url%>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Log Out">
      </form>
      <%end%>
    </header>
    <%= yield %>
  </body>
</html>
